.chat-icon {
  &-action {
    margin: 0;
    cursor: pointer;

    & > ng-md-icon {
      line-height: 0;
    }

    &--log-out {
      & > ng-md-icon {
        margin-left: 5px;
      }
    }

    &--sidebar-close {
      & > ng-md-icon {
        transform: rotate(180deg);
      }
    }
    &--actions-user {
      display: block;
      line-height: 0;
    }
    &--square {
      display: inline-block;
      line-height: 0;
    }
  }

  &--search {
    cursor: pointer;
  }
}