.chat-icon {
  &-action {
    &.md-mini {
      & svg {
        margin: 5px 0 0 -1px;
      }
    }

    &--auth, &--create {
      & svg {
        margin: 12px 0 0 0;
      }
    }

    &--sidebar-log-out {
      & svg {
        margin: 12px 0 0 5px;
      }
    }
    &--sidebar-close {

      transform: rotate(180deg);
      & svg {
        margin: 14px 0 0;
      }
    }
    &--sidebar-open {

      & svg {
        margin: 14px 0 0;
      }
    }
  }
}