<md-card data-ng-form="userEdit">
    <md-toolbar class="md-theme-indigo">
        <h2 class="md-toolbar-tools">Профиль пользователя {{_ctrlUserEdit.data.user.login}}</h2>
        <ng-md-icon class="chat-form-header-icon"
                    size="30"
                    style="fill: white"
                    icon="remove_red_eye">
        </ng-md-icon>
    </md-toolbar>
    <md-card-avatar layout layout-align="center center">
        <div class="chat-user-edit__action-photo" flex="40">
            <img class="md-user-avatar chat-user-edit__photo" data-ng-src="{{_ctrlUserEdit.getPathPhoto()}}">
        </div>
    </md-card-avatar>

    <md-card-content>
        <div layout layout-align="center center">
            <div flex="60">
                <div flex="100">
                    <md-input-container class="chat-form__row">
                        <label>Email</label>
                        <input type="text"
                               required
                               disabled
                               data-ng-model="_ctrlUserEdit.data.user.email">
                    </md-input-container>
                </div>
                <div flex="100">
                    <md-input-container class="chat-form__row">
                        <label>Логин</label>
                        <input type="text"
                               required
                               disabled
                               data-ng-model="_ctrlUserEdit.data.user.login">
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-card-content>
    <md-cart-footer>
        <div layout layout-align="end">
            <md-button class="md-primary md-raised"
                       data-ng-click="_ctrlUserEdit.update()"
                       data-ng-disabled="userEdit.$invalid">Изменить
            </md-button>
        </div>
    </md-cart-footer>
</md-card>