<md-dialog flex="40">
    <form data-ng-cloak name="userEdit">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Редактирование профиля</h2>
            </div>
        </md-toolbar>
        <md-dialog-content class="chat-user-edit">
            <div class="chat-user-edit__action-photo" flex="40">
                <img class="md-user-avatar chat-user-edit__photo" data-ng-src="{{_ctrlUserEdit.getPathPhoto()}}">
                <ng-md-icon class="chat-user-edit__add-photo"
                            size="100"
                            style="fill: #fff"
                            icon="add_a_photo"
                            data-ng-click="_ctrlUserEdit.close()">
                </ng-md-icon>
                <input type="file"
                       nv-file-select
                       class="chat-user-edit__uploader"
                       uploader="_ctrlUserEdit.uploader"/>
            </div>
            <div layout layout-align="center center">
                <div flex="60">
                    <div flex="100">
                        <div class="alert alert-danger"
                             data-ng-if="_ctrlUserEdit.data.form.error.length">
                            <div data-ng-repeat="message in _ctrlUserEdit.data.form.error">
                                {{message}}
                            </div>
                        </div>
                        <div class="alert alert-success"
                             data-ng-if="_ctrlUserEdit.data.form.success.status">
                            {{_ctrlUserEdit.data.form.success.message}}
                        </div>

                    </div>
                    <div flex="100">
                        <md-input-container class="chat-form__row">
                            <label>Логин</label>
                            <input type="text"
                                   required
                                   data-ng-minlength="2"
                                   data-ng-model="_ctrlUserEdit.changeLogin">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="chat-dialog__actions">
            <md-button class="md-fab md-mini chat-icon-action"
                       aria-label="Изменить"
                       layout
                       layout-align="center center"
                       data-ng-disabled="userEdit.$invalid"
                       data-ng-click="_ctrlUserEdit.update()">
                <ng-md-icon size="30"
                            style="fill: white"
                            icon="mode_edit">
                </ng-md-icon>
            </md-button>
            <md-button class="md-fab md-mini chat-icon-action"
                       aria-label="Отмена"
                       layout
                       layout-align="center center"
                       data-ng-click="_ctrlUserEdit.close()">
                <ng-md-icon size="30"
                            style="fill: white"
                            icon="close">
                </ng-md-icon>
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>