<md-dialog flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Просмотр профиля</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="chat-user-show">
        <div class="chat-user-show__action-photo" flex="40">
            <img class="md-user-avatar chat-user-show__photo"
                 data-ng-src="{{_ctrlUserShow.getPathPhoto(_ctrlUserShow.data.user)}}">
        </div>
        <div layout layout-align="center center">
            <div flex="60">
                <div flex="100">
                    <md-input-container class="chat-form__row">
                        <label>Логин</label>
                        <input type="text"
                               disabled
                               data-ng-value="_ctrlUserShow.data.user.login">
                    </md-input-container>

                    <md-input-container class="chat-form__row">
                        <label>Email</label>
                        <input type="text"
                               disabled
                               data-ng-value="_ctrlUserShow.data.user.email">
                    </md-input-container>

                    <md-input-container class="chat-form__row">
                        <label>Дата регистрации</label>
                        <input type="text"
                               disabled
                               data-ng-value="_ctrlUserShow.data.user.date | date : 'yyyy-MM-dd'">
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" class="chat-dialog__actions">
        <md-button class="md-fab md-mini chat-icon-action"
                   aria-label="Отмена"
                   layout
                   layout-align="center center"
                   data-ng-click="_ctrlUserShow.close()">
            <ng-md-icon size="30"
                        style="fill: white"
                        icon="close">
            </ng-md-icon>
        </md-button>

    </md-dialog-actions>
</md-dialog>