<h3 data-ng-if="!_ctrlMessageList.data.messages.length">История комнаты пуста.</h3>

<div class="chat-message-item"
     data-ng-class="{'chat-message-item--self' : _ctrlMessageList.user.id === message.creatorId}"
     data-ng-if="_ctrlMessageList.data.messages.length"
     data-ng-repeat="message in _ctrlMessageList.data.messages">

    <div class="chat-message-item__container chat-message-item__container--self"
         data-ng-if="_ctrlMessageList.user.id === message.creatorId">
        <div class="chat-message-item__login">
            {{message.user.login}}
        </div>
        <div class="chat-message-item__content">
            {{message.text}}
        </div>
        <div class="chat-message-item__date">
            {{message.date}}
        </div>
    </div>

    <img alt="{{message.user.login}}"
         class="chat-message-item__avatar chat-message-item__avatar--self"
         data-ng-if="_ctrlMessageList.user.id === message.creatorId"
         data-ng-click="_ctrlMessageList.showUser($event, message.user)"
         data-ng-src="{{_ctrlMessageList.getPathPhoto(message.user)}}">

    <img alt="{{message.user.login}}"
         class="chat-message-item__avatar"
         data-ng-if="_ctrlMessageList.user.id !== message.creatorId"
         data-ng-click="_ctrlMessageList.showUser($event, message.user)"
         data-ng-src="{{_ctrlMessageList.getPathPhoto(message.user)}}">

    <div class="chat-message-item__container"
         data-ng-if="_ctrlMessageList.user.id !== message.creatorId">
        <div class="chat-message-item__login">
            {{message.user.login}}
        </div>
        <div class="chat-message-item__content">
            {{message.text}}
        </div>
        <div class="chat-message-item__date">
            {{message.date}}
        </div>
    </div>

</div>