<md-list class="flexbox-item-grow">
    <md-list-item data-ng-if="!_ctrlMessageList.data.messages.length">
        <div class="md-list-item-text">
            <h3>История комнаты пуста.</h3>
        </div>

        <md-divider inset></md-divider>
    </md-list-item>
    <md-list-item class="md-3-line chat-message-item"
                  data-ng-if="_ctrlMessageList.data.messages.length"
                  data-ng-repeat="message in _ctrlMessageList.data.messages">

        <img alt="{{message.user.login}}"
             class="chat-message-item__avatar"
             data-ng-click="_ctrlMessageList.showUser($event, message.user)"
             data-ng-src="{{_ctrlMessageList.getPathPhoto(message.user)}}">

        <div class="chat-message-item__container">
            <div class="chat-message-item__login">
                {{message.user.login}}
            </div>
            <div class="chat-message-item__content">
                {{message.text}}
            </div>
            <div class="chat-message-item__date">
                {{message.date}}
            </div>
        </div>

        <md-divider inset></md-divider>
    </md-list-item>
</md-list>