.chat-form {

  &-container {
    min-width: 240px;
  }

  &-header-icon {
    top: 16px;
    right: 10px;
    width: 30px;
    height: 35px;
    position: absolute;
  }

  &__row {
    width: 100%;
  }
}