<md-dialog flex="40">
    <form data-ng-cloak name="addRoom">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Создать комнату</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="chat-form__row">
                    <label>Название комнаты</label>
                    <input type="text"
                           required
                           name="name"
                           data-ng-minlength="2"
                           data-ng-pattern="/^[а-яА-ЯёЁa-zA-Z0-9]+$/i"
                           data-ng-model="roomAddCtrl.name">

                    <div data-ng-messages="addRoom.name.$error">
                        <div data-ng-message="required">
                            Поля обязательное для заполнения
                        </div>
                        <div data-ng-message="minlength">
                            Название не может быть короче 2 символов.
                        </div>
                        <div data-ng-message="pattern">
                            Название должно содержать только буквы и цифры.
                        </div>
                    </div>
                </md-input-container>

                <user-search-collection class="chat-form__row chat-form__row--offset"
                                        data-add-room="true"
                                        data-collection="roomAddCtrl.userInvited"
                                        data-placeholder="Пригласите участников"></user-search-collection>


                <div class="chat-form__row chat-form__row--offset">
                    <md-checkbox data-ng-model="roomAddCtrl.public" aria-label="Публичная комната">
                        Публичная комната
                    </md-checkbox>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="chat-dialog__actions">
            <md-button class="md-fab md-mini chat-icon-action"
                       layout
                       layout-align="center center"
                       aria-label="Создать комнату"
                       data-ng-disabled="addRoom.$invalid"
                       data-ng-click="roomAddCtrl.addRoom($event)">
                <ng-md-icon size="30"
                            style="fill: white"
                            icon="add">
                </ng-md-icon>
            </md-button>
            <md-button class="md-fab md-mini chat-icon-action"
                       layout
                       layout-align="center center"
                       aria-label="Отмена"
                       data-ng-click="roomAddCtrl.close()">
                <ng-md-icon size="30"
                            style="fill: white"
                            icon="close">
                </ng-md-icon>
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>