<!doctype html>
<html lang="en" data-ng-app="chat">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>template</title>

    <link rel="stylesheet" href="/stylesheets/core.css">
</head>
<body>
<div style="overflow: hidden;">
    <div data-ng-controller="sideBarController as _ctrlSideBar">

        <div class="sidebar-opener" id="sidebar-opener">

            <md-button class="md-fab chat-icon-action"
                       layout
                       layout-align="center center"
                       data-ng-click="_ctrlSideBar.toggleMenu()">

                <ng-md-icon size="30"
                            style="fill: white"
                            icon="forward">
                </ng-md-icon>
            </md-button>
        </div>

        <md-sidenav class="md-sidenav-left sidebar sidebar--main"
                    data-ng-cloak
                    md-disable-backdrop
                    md-component-id="side-bar"
                    md-whiteframe="4">

            <div class="sidebar__row sidebar__header"
                 layout="row"
                 layout-align="space-between center">

                <md-button class="md-fab chat-icon-action chat-icon-action--log-out"
                           layout
                           layout-align="center center"
                           data-ng-if="_ctrlSideBar.isAuth"
                           data-ng-click="_ctrlSideBar.logOut()">

                    <ng-md-icon size="30"
                                style="fill: white"
                                icon="logout">
                    </ng-md-icon>
                </md-button>

                <md-button id="side-bar-close"
                           class="md-fab chat-icon-action chat-icon-action--sidebar-close"
                           layout
                           layout-align="center center"
                           data-ng-click="_ctrlSideBar.toggleMenu()">

                    <ng-md-icon size="30"
                                style="fill: white"
                                icon="forward">
                    </ng-md-icon>
                </md-button>
            </div>

            <md-content class="sidebar__content">

                <div class="sidebar__row chat-user-intro"
                     data-ng-cloak
                     layout="row"
                     layout-align="space-between center"
                     data-ng-if="_ctrlSideBar.isAuth">

                    <div>
                        <img class="chat-user-intro__avatar"
                             data-ng-src="{{_ctrlSideBar.getPathPhoto()}}">
                        <div class="chat-user-intro__descr">
                            <div class="chat-user-intro__info chat-user-intro__info--login">
                                {{_ctrlSideBar.user.login}}
                            </div>
                            <div class="chat-user-intro__info">
                                {{_ctrlSideBar.user.email}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <md--button class="md-fab chat-icon-action"
                                    layout
                                    layout-align="center center"
                                    data-ng-click="_ctrlSideBar.editUser($event)">

                            <ng-md-icon size="30"
                                        style="fill: white"
                                        icon="mode_edit">
                            </ng-md-icon>
                        </md--button>
                    </div>
                </div>

                <div data-ng-cloak
                     data-ng-if="_ctrlSideBar.isAuth">
                    <room-list></room-list>
                </div>

                <div data-ng-cloak
                     data-ng-if="_ctrlSideBar.isAuth">
                    <conversation-list></conversation-list>
                </div>

                <md-list class="sidebar__row sidebar__eventsList"
                         data-ng-cloak
                         data-ng-if="!_ctrlSideBar.isAuth">
                    <md-subheader class="md-no-sticky">Выберите действие</md-subheader>
                    <md-list-item data-ng-repeat="action in _ctrlSideBar.data.listAuth">
                        <md-button class="md-raised"
                                   data-ui-sref="{{action.state}}">
                            {{action.name}}
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
    <div data-ui-view></div>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/bundle.js"></script>
</body>
</html>