<!doctype html>
<html lang="en" data-ng-app="chat">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>template</title>

    <link rel="stylesheet" href="/stylesheets/core.css">
</head>
<body>
<div>
    <div data-ng-controller="sideBarController as _ctrlSideBar">
        <div class="sidebar-opener"
             data-ng-class="{'sidebar-opener--hide': _ctrlSideBar.data.opened}">
            <md-button class="md-primary md-raised"
                       data-ng-click="_ctrlSideBar.toggleMenu()">
                Открыть навигацию
            </md-button>
        </div>
        <md-sidenav class="md-sidenav-left sidebar"
                    md-component-id="{{_ctrlSideBar.data.id}}"
                    md-disable-backdrop md-whiteframe="4">

            <div class="sidebar__row sidebar__header"
                 layout="row"
                 layout-align="left center">
                <div flex="75">
                    НАВИГАЦИЯ
                </div>
                <div flex="25">
                    <md--button class="md-fab chat-icon-action chat-icon-action--sidebar-close">
                        <ng-md-icon size="30"
                                    style="fill: white"
                                    icon="forward"
                                    data-ng-click="_ctrlSideBar.toggleMenu()">
                        </ng-md-icon>
                    </md--button>
                </div>
            </div>

            <md-content class="sidebar__content">

                <div class="sidebar__row chat-user-intro"
                     data-ng-cloak
                     layout="row"
                     layout-align="left center"
                     data-ng-if="_ctrlSideBar.data.isAuth">
                    <div flex="70">
                        <div layout="row" layout-align="left center">
                            <img class="chat-user-intro__avatar"
                                 data-ng-src="{{_ctrlSideBar.getPathPhoto(_ctrlSideBar.data.user.photo)}}">
                            <div class="chat-user-intro__descr">
                                <div class="chat-user-intro__info chat-user-intro__info--login">
                                    {{_ctrlSideBar.data.user.login}}
                                </div>
                                <div class="chat-user-intro__info">
                                    {{_ctrlSideBar.data.user.email}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex="30">
                        <div layout="row" layout-align="end center">
                            <a data-ui-sref="resolve.main.user-edit">
                                <md--button class="md-fab md-mini chat-icon-action">
                                    <ng-md-icon size="25"
                                                style="fill: white"
                                                icon="mode_edit">
                                    </ng-md-icon>
                                </md--button>
                            </a>
                        </div>
                    </div>
                </div>

                <div data-ng-cloak
                     data-ng-if="_ctrlSideBar.data.isAuth"
                     data-ng-controller="roomListController as roomListCtrl">
                    <div class="sidebar__row">
                        <div layout="row"
                             layout-align="left center">
                            <div flex="70" class="chat-room-list-nav">
                                <div>
                                    Комнаты
                                </div>
                            </div>
                            <div flex="30">
                                <div layout="row"
                                     layout-align="end center">
                                    <md-button class="md-fab md-mini chat-icon-action"
                                               data-ng-click="roomListCtrl.addRoom($event)">
                                        <ng-md-icon size="30"
                                                    style="fill: white"
                                                    icon="add">
                                        </ng-md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <div layout="row"
                             layout-align="left center">
                            <md-list class="chat-room-list">
                                <md-list-item class="chat-room-list__item"
                                              data-ng-repeat="room in roomListCtrl.data.list">
                                    <a class="chat-room-list__link"
                                       data-ui-sref="resolve.main.room({name: room.name})">
                                        <button class="md-fab md-button md-ink-ripple">
                                            {{!room.photo ? room.shortName.toUpperCase() : ''}}
                                        </button>
                                        {{room.name}}
                                    </a>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </div>

                <md-list class="sidebar__row" data-ng-cloak data-ng-if="!_ctrlSideBar.data.isAuth">
                    <md-subheader class="md-no-sticky">Выберите действие</md-subheader>
                    <md-list-item data-ng-repeat="action in _ctrlSideBar.data.listAuth">
                        <a data-ui-sref="{{action.state}}" class="md-primary md-button">
                            {{action.name}}
                        </a>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
    <div data-ui-view></div>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/bundle.js"></script>
</body>
</html>