<md-menu>
    <ng-md-icon size="30"
                icon="menu"
                class="chat-icon-action chat-icon-action--actions-user"
                data-ng-click="_ctrlUserAction.openMenu($mdMenu, $event)">
    </ng-md-icon>
    <md-menu-content>
        <md-menu-item data-ng-if="_ctrlUserAction.canShowUser && !_ctrlUserAction.selfUser"
                      data-ng-click="_ctrlUserAction.showUser($event, user)">
            <md-button class="chat-icon-action md-mini">
                <ng-md-icon size="30"
                            style="fill: black"
                            icon="face"
                            class="chat-user-actions__icon">
                </ng-md-icon>
                <div class="chat-user-actions__name">
                    Посмотреть профиль
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider data-ng-if="_ctrlUserAction.canShowUser && _ctrlUserAction.selfUser"></md-menu-divider>
        <md-menu-item data-ng-if="_ctrlUserAction.selfUser"
                      data-ng-click="_ctrlUserAction.editUser($event)">
            <md-button class="chat-icon-action md-mini">
                <ng-md-icon size="30"
                            style="fill: black"
                            icon="edit"
                            class="chat-user-actions__icon">
                </ng-md-icon>
                <div class="chat-user-actions__name">
                    Редактировать профиль
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider data-ng-if="_ctrlUserAction.canShowUser"></md-menu-divider>
        <md-menu-item data-ng-if="_ctrlUserAction.canAddRoom"
                      data-ng-click="_ctrlUserAction.addInvited()">
            <md-button class="chat-icon-action md-mini">
                <ng-md-icon size="30"
                            style="fill: black"
                            icon="add"
                            class="chat-user-actions__icon">
                </ng-md-icon>
                <div class="chat-user-actions__name">
                    Пригласить в комнату
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider data-ng-if="_ctrlUserAction.canAddRoom"></md-menu-divider>
        <md-menu-item data-ng-if="_ctrlUserAction.canRemoveRoom"
                      data-ng-click="_ctrlUserAction.removeInRoom()">
            <md-button class="chat-icon-action md-mini">
                <ng-md-icon size="30"
                            style="fill: black"
                            icon="delete"
                            class="chat-user-actions__icon">
                </ng-md-icon>
                <div class="chat-user-actions__name">
                    {{_ctrlUserAction.user.id === _ctrlUserAction.currentUser.id ? 'Покинуть комнату' : 'Удалить из
                    комнаты'}}
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider
                data-ng-if="_ctrlUserAction.canExitRoom && !_ctrlUserAction.canRemoveRoom && _ctrlUserAction.selfUser"></md-menu-divider>
        <md-menu-item
                data-ng-if="_ctrlUserAction.canExitRoom && !_ctrlUserAction.canRemoveRoom && _ctrlUserAction.selfUser"
                data-ng-click="_ctrlUserAction.removeInRoom()">
            <md-button class="chat-icon-action md-mini">
                <ng-md-icon size="30"
                            style="fill: black"
                            icon="delete"
                            class="chat-user-actions__icon">
                </ng-md-icon>
                <div class="chat-user-actions__name">
                    Покинуть комнату
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider data-ng-if="_ctrlUserAction.canRemoveRoom"></md-menu-divider>
    </md-menu-content>
</md-menu>