<div data-ng-if="_ctrlNotificationRoom.data.notifications.length">

    <md-button class="md-fab md-mini chat-icon-action"
               layout
               layout-align="center center"
               data-ng-click="_ctrlNotificationRoom.showNotification($event)">

        <ng-md-icon size="30"
                    style="fill: white"
                    icon="notifications">
        </ng-md-icon>
    </md-button>

    <a href="#"
       class="badge badge-danger notification-room__counter"
       data-ng-click="_ctrlNotificationRoom.showNotification($event)">

        {{_ctrlNotificationRoom.data.notifications.length}}
    </a>
</div>