.sidebar {
  background-color: rgb(63, 81, 181);
  padding: 15px;

  &__header {
    color: #fff;
    text-transform: uppercase;
  }

  &__row {
    border-bottom: 1px solid #fff;
    padding: 15px 0;
  }

  &__content {
    background-color: rgb(63, 81, 181);
  }

  &-opener {
    position: absolute;
    left: -8px;
    transition: left 0.3s ease-out 0.5s;

    &--hide {
      left: -250px;
    }
  }

  &-closener {
    position: absolute;
    bottom: 0;
    left: 5px;
  }

  &__eventsList {
    & > .md-subheader {
      background: none;
      color: #fff;
    }
  }

}