.sidebar {
  &-opener {
    position: absolute;
    left: -8px;
    transition: left 0.3s ease-out 0.5s;

    &--hide {
      left: -250px;
    }
  }

  &-closener {
    position: absolute;
    bottom: 0;
    left: 5px;
  }

  &-closener--icon {
    width: 30px;
    height: 30px;
    left: auto;
    bottom: auto;
    top: 16px;
    right: 10px;
    cursor: pointer;
  }
}