.sidebar {
  background-color: rgb(63, 81, 181);
  padding: $layout-offset $layout-offset 0 $layout-offset;
  min-height: 100vh;
  max-width: none;
  min-width: 320px;

  &--main {
    display: block !important;
    width: 25%;
    // кастыль что б не прыгала прокрутка
  }

  &--room {
    height: 100%;
    width: 100%;
  }

  &__row {
    border-bottom: 1px solid #fff;
    padding: $layout-offset 0;
  }

  &__header {
    padding-top: 0;
  }

  &__content {
    background-color: rgb(63, 81, 181);
  }

  &-opener {
    position: absolute;
    left: 16px;
    top: 14px;
    z-index: 21;
  }

  &-closener {
    position: absolute;
    bottom: 0;
    left: 5px;
  }

  &__eventsList {

    & > .md-subheader {
      background: none;
      color: #fff;
    }
  }
}

sidebar {
  width: 25%;
  min-width: 320px;
}