<md-toolbar>
    <div class="md-toolbar-tools room-header__toolbar"
         layout
         layout-align="space-between center">

        <div flex="80"
             class="room-header__description"
             data-ng-click="_ctrlHeaderRoom.openRoom($event)">

            <user-item class="user-item room-header__name"
                       data-user="_ctrlHeaderRoom.room.user"
                       data-hide-actions="true"
                       data-ng-if="_ctrlHeaderRoom.room.conversation">
            </user-item>

            <room-item class="room-item room-header__name"
                       data-room="_ctrlHeaderRoom.room"
                       data-hide-actions="true"
                       data-ng-if="!_ctrlHeaderRoom.room.conversation">
            </room-item>
        </div>

        <div flex="20"
             layout
             layout-align="end center">

            <md-button class="md-fab chat-icon-action room-header__forward"
                       layout
                       layout-align="center center"
                       aria-label="Вернуться в главное меню"
                       data-ui-sref="main.base"
                       data-ng-click="_ctrlHeaderRoom.searchUsers()">

                <ng-md-icon size="30"
                            style="fill: white"
                            icon="forward">
                </ng-md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>