img {
  outline: none;
}

.base {
  height: 100%;
  width: 100%;

  &-header {
    padding: 0 $layout-offset;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    box-sizing: border-box;
  }
}