.chat-room {

  width: 100%;
  min-height: 100vh;
  max-height: 100vh;

  &-list {
    background: none;
    width: 100%;

    &--notify {
      padding: $layout-offset 0;
    }

    &__item {
      color: #fff;

      &--notify {
        padding: 0 $layout-offset;
        color: #000;
      }
    }

    &__link {
      color: #fff;
      text-decoration: none;
      width: 100%;
    }

    &-nav {
      color: #fff;
      font-size: 20px;
    }
  }

  &-search {
    padding: $layout-offset;
    margin: $layout-offset;
    display: block;
    height: 70vh;
  }

  &-actions {

    &__icon {
      margin-right: $layout-offset;
    }
  }
}