.chat-room {
  &-list {
    background: none;
    width: 100%;
    &__item {
      color: #fff;
    }

    &__link {
      color: #fff;
      text-decoration: none;
      width: 100%;
    }

    &-nav {
      color: #fff;
      font-size: 20px;
    }
  }
}