.chat-room {

  width: 100%;
  min-height: 100vh;
  max-height: 100vh;

  &__container {
    display: flex;
    height: 100%;
  }

  &__inroduce {
    margin: auto;
  }

  &-list {
    background: none;
    width: 100%;

    &--notify {
      padding: $layout-offset 0;
    }

    &__item {
      color: #fff;

      &--notify {
        padding: 0 $layout-offset;
        color: #000;
      }
    }

    &__link {
      color: #fff;
      text-decoration: none;
      width: 100%;
    }

    &-nav {
      color: #fff;
      font-size: 20px;
    }

    &__button {
      width: 100%;
      text-align: left;
      margin: 0;
      padding: 0;
    }
  }
}