<div class="notification" data-ng-if="_ctrlNotificationRoom.data.notifications.length">
    <md-button class="md-fab md-mini chat-icon-action"
               data-ng-click="_ctrlNotificationRoom.showNotification($event)">

        <ng-md-icon size="30"
                    style="fill: white"
                    icon="notifications">
        </ng-md-icon>
    </md-button>

    <md-button class="notification__counter notification__counter--room"
            md-colors="{background: 'red'}">
        {{_ctrlNotificationRoom.data.notifications.length}}
    </md-button>
</div>