.notification {

  &-room {
    position: relative;
    display: inline-block;
    margin: 0 $layout-offset;

    &__counter {
      position: absolute;
      right: -5px;
      top: -7px;
      z-index: 2021;
      margin: 0;

      &--room-list {
        right: auto;
        left: 45px;
        top: 4px;
      }
    }
  }
}