$margin: 0 8px;
$photo_size: 56px;
.chat-user {

  &-intro {

    &__descr {
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
      margin-left: $layout-offset;
    }

    &__avatar {
      width: $photo_size;
      height: $photo_size;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: #e8e8e8;
      vertical-align: middle;
    }

    &__info {
      color: #fff;
      font-size: 16px;

      &--login {
        font-size: 22px;
      }
    }

    &__add-photo {
      cursor: pointer;
    }
  }

  &-show {
    margin-top: 20px;

    &__photo {
      background-color: #e8e8e8;
      max-width: 100%;
      border-radius: 50%;
    }

    &__action-photo {
      margin: 8px auto;
      position: relative;
      overflow: hidden;
    }
  }

  &-edit {
    margin-top: 20px;

    &__photo {
      background-color: #e8e8e8;
    }
    &__add-photo {
      position: absolute;
      left: 50%;
      top: 50%;
      pointer-events: none;
      opacity: 0;
      transition: all 0.3s ease;
      z-index: 1;
      margin-left: -50px;
      margin-top: -50px;
    }
    &__action-photo {
      margin: 8px auto;
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        transition: all 0.5s ease;
        box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .2);
        border-radius: 50%;
        z-index: 2;
        pointer-events: none;
      }
      &:hover {
        > .chat-user-edit__add-photo {
          opacity: 1;
        }
        &:after {
          opacity: 1;
        }

      }
    }
    &__photo {
      background-color: #e8e8e8;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      pointer-events: none;
      position: relative;
      display: block;
      z-index: 1;
    }
    &__uploader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 100%;
      cursor: pointer;
      z-index: 0;
    }
  }

  &-list {

    margin: $layout-offset 0;

    &__item {
      color: #fff;
    }

    $photo_size: 56px;

    &__photo {
      width: $photo_size;
      height: $photo_size;
      position: relative;
      display: inline-block;
      margin: 6px 8px;
      cursor: pointer;

      & img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        width: $photo_size;
        height: $photo_size;
      }
    }

    &__status {
      width: 10px;
      height: 10px;
      background-color: red;
      display: inline-block;
      vertical-align: top;
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 50%;

      &--online {
        background-color: green;
      }
    }

    &__login {
      margin-left: 4px;
    }
  }

  &-actions {
    position: relative;
    transition: all 0.25s ease;
    z-index: 2021;

    &__icon {
      margin-right: $layout-offset;
    }
  }

  &-search {

    &__list {
      width: 100%;
    }

    &__photo {
      max-width: 56px;
      width: 56px;
      border-radius: 50%;
      margin: 6px 8px;
      cursor: pointer;
    }

    &__descr {
      display: inline-block;
      margin-left: 4px;
    }
  }

}

.md-chips .md-chip-input-container {
  min-width: 300px;
}