$margin: 0 8px;

.chat-user {

  &-intro {
    margin: 8px 8px 16px 8px;
    &__avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin: $margin;
    }

    &__info {
      margin: $margin;
    }
  }
}