$margin: 0 8px;
$photo_size: 56px;
.chat-user {

  &-intro {
    &__descr {
      margin: 0 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__avatar {
      width: $photo_size;
      height: $photo_size;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: #e8e8e8;
      margin-left: 8px;
    }

    &__info {
      color: #fff;
      font-size: 16px;

      &--login {
        font-size: 22px;
      }
    }

    &__add-photo {
      cursor: pointer;
    }
  }

  &-show {
    margin-top: 20px;

    &__photo {
      background-color: #e8e8e8;
      max-width: 100%;
      border-radius: 50%;
    }

    &__action-photo {
      margin: 8px auto;
      position: relative;
      overflow: hidden;
    }
  }

  &-edit {
    margin-top: 20px;

    &__photo {
      background-color: #e8e8e8;
    }
    &__add-photo {
      position: absolute;
      left: 50%;
      top: 50%;
      pointer-events: none;
      opacity: 0;
      transition: all 0.3s ease;
      z-index: 1;
      margin-left: -50px;
      margin-top: -50px;
    }
    &__action-photo {
      margin: 8px auto;
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        transition: all 0.5s ease;
        box-shadow: inset 0 0 50px 10px rgba(0,0,0,.2);
        border-radius: 50%;
        z-index: 2;
        pointer-events: none;
      }
      &:hover {
        > .chat-user-edit__add-photo {
          opacity: 1;
        }
        &:after {
          opacity: 1;
        }

      }
    }
    &__photo {
      background-color: #e8e8e8;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      pointer-events: none;
      position: relative;
      display: block;
      z-index: 1;
    }
    &__uploader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 100%;
      cursor: pointer;
      z-index: 0;
    }
  }

  &-list {
    background: none;
    width: 100%;

    &__item {
      color: #fff;
      width: 100%;
      text-align: left;
      margin: 0;
      padding: 0;
      height: 68px;
      border-radius: 4px;

      &:hover {
        & .chat-user-actions {
          width: 53px;
        }
      }
    }

    &__photo {
      width: 45px;
      border-radius: 50%;
      margin-top: 3px;
    }

    &__login {
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 2px 0 0 8px;
      display: inline-block;
    }

    & .chat-user-actions {
      min-width: 0;
      min-height: 0;
      width: 0;
      overflow: hidden;
    }
  }

  &-actions {
    position: relative;
    transition: all 0.25s ease;
    z-index: 2021;

    &__icon {
      margin-right: 6px;
      vertical-align: text-bottom;
    }

    &__name {
      display: inline-block;
      vertical-align: text-bottom;
      margin: 8px 0;
    }
  }
}

.md-chips .md-chip-input-container {
  min-width: 300px;
}