<div data-ng-if="!_ctrlMessageAdd.access"
     layout
     layout-align="center center">

    <md-button class="md-raised md-primary"
               flex="33"
               data-ng-click="_ctrlMessageAdd.userAgreed()">
        Принять участие в комнате.
    </md-button>
</div>

<div data-ng-if="_ctrlMessageAdd.access"
     data-ng-form="messageForm"
     layout
     layout-align="left top">

    <div flex="80" class="chat-message-send__box">
        <md-input-container class=chat-message-send__area>
            <label>Отправить сообщение</label>
            <textarea name="message"
                      required
                      data-ng-model="_ctrlMessageAdd.message"
                      md-no-resize
                      max-rows="2"></textarea>
        </md-input-container>
    </div>

    <div flex="20" layout layout-align="center top" class="chat-message-send__box">
        <md-button class="md-fab chat-icon-action chat-icon-action--send-message"
                   aria-label="Отправить"
                   layout
                   layout-align="center center"
                   data-ng-disabled="messageForm.$invalid"
                   data-ng-click="_ctrlMessageAdd.send()">
            <ng-md-icon size="30"
                        style="fill: white"
                        icon="send">
            </ng-md-icon>
        </md-button>
    </div>
</div>