<div class="sidebar__row">
    <div layout="row"
         layout-align="space-between center">
        <h3 class="chat-room-list-nav">
            Комнаты
        </h3>
        <div layout
             layout-align="center center">
            <notification-room class="notification-room"></notification-room>
            <md-button class="md-fab md-mini chat-icon-action"
                       layout
                       layout-align="center center"
                       data-ng-click="_ctrlRoomList.addRoom($event)">
                <ng-md-icon size="30"
                            style="fill: white"
                            icon="add">
                </ng-md-icon>
            </md-button>
        </div>
    </div>
    <div>
        <div class="chat-room-list">
            <div data-ng-if="!_ctrlRoomList.data.rooms.length">
                <a class="chat-room-list__link">
                    Вы не учавствуете ни в одной комнате.
                    Примите приглашение, создайте свою комнату или найдите комнату на интересующую вас тему.
                </a>
            </div>
            <div class="chat-room-list__item"
                 layout
                 layout-align="space-between center"
                 data-ng-repeat="room in _ctrlRoomList.data.rooms">

                <div>
                    <button class="md-fab md-button md-ink-ripple">
                        {{!room.photo ? room.shortName.toUpperCase() : ''}}
                    </button>

                    {{room.name}}

                </div>
                <room-actions data-room="room"></room-actions>
            </div>
        </div>
    </div>
</div>