<div class="sidebar__row">
    <div layout="row"
         layout-align="space-between center">
        <h3 class="chat-room-list-nav">
            Комнаты
        </h3>
        <div layout
             layout-align="center center">
            <notification-room class="notification-room"></notification-room>
            <md-button class="md-fab md-mini chat-icon-action"
                       layout
                       layout-align="center center"
                       data-ng-click="_ctrlRoomList.addRoom($event)">
                <ng-md-icon size="30"
                            style="fill: white"
                            icon="add">
                </ng-md-icon>
            </md-button>
        </div>
    </div>
    <div layout="row"
         layout-align="left center">
        <md-list class="chat-room-list">
            <md-list-item data-ng-if="!_ctrlRoomList.data.rooms.length">
                <a class="chat-room-list__link">
                    Вы не учавствуете ни в одной комнате.
                    Примите приглашение или создайте свою комнату.
                </a>
            </md-list-item>
            <md-list-item class="chat-room-list__item"
                          data-ng-repeat="room in _ctrlRoomList.data.rooms">
                <a class="chat-room-list__link"
                   data-ui-sref="main.room({id: room.id})">
                    <md-button class="chat-room-list__button">
                        <button class="md-fab md-button md-ink-ripple">
                            {{!room.photo ? room.shortName.toUpperCase() : ''}}
                        </button>
                        {{room.name}}
                    </md-button>
                </a>
            </md-list-item>
        </md-list>
    </div>
</div>