<div class="sidebar__row chat-user-list__nav"
     layout
     layout-align="space-between center">

    <md-button class="md-raised">Онлайн</md-button>

    <md-button class="md-warn">Все</md-button>
</div>

<md-content class="sidebar__content">

    <div class="chat-user-list">
        <div class="chat-user-list__item"
             layout
             layout-align="space-between center"
             data-ng-repeat="user in _ctrlUserList.data.userList">

            <div layout
                 layout-align="center center">

                <div class="chat-user-list__photo">
                    <img alt="{{user.login}}"
                         data-ng-src="{{_ctrlUserList.getPathPhoto(user)}}">

                    <span class="chat-user-list__status"
                          data-ng-class="{'chat-user-list__status--online': user.online}"></span>
                </div>

                <span class="chat-user-list__login"
                      layout
                      layout-align="center center">{{user.login}}</span>
            </div>

            <user-actions data-user="user"
                          data-actions-room="true"
                          class="chat-user-actions"></user-actions>
        </div>
    </div>
</md-content>