<div class="chat-form-container"
     flex="60"
     flex-xs="60"
     flex-gt-xs="50"
     flex-sm="50"
     flex-gt-sm="50"
     flex-md="40"
     flex-gt-md="40"
     flex-lg="40"
     flex-gt-lg="30"
     flex-xl="30">
    <form name="reg"
          class="chat-form"
          novalidate
          md-content>

        <md-card>
            <md-toolbar class="md-theme-indigo">
                <h2 class="md-toolbar-tools">Регистрация</h2>
            </md-toolbar>
            <md-card-content>
                <md-input-container class="chat-form__row">
                    <label>Логин</label>
                    <input type="text"
                           required
                           name="login"
                           data-ng-minlength="2"
                           data-ng-model="_ctrlReg.login">
                </md-input-container>
                <md-input-container class="chat-form__row">
                    <label>Email</label>
                    <input type="text"
                           required
                           name="email"
                           data-ng-pattern="/^([\w-]+.)*[\w-]+@[\w-]+(\.[\w-]+)*\.[a-z]{2,6}$/"
                           data-ng-model="_ctrlReg.email">
                </md-input-container>
                <md-input-container class="chat-form__row">
                    <label>Пароль</label>
                    <input type="password"
                           required
                           name="password"
                           data-ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z0-9!@#$%]+$/"
                           data-ng-model="_ctrlReg.password">
                </md-input-container>
                <md-input-container class="chat-form__row">
                    <label>Повторите пароль</label>
                    <input type="password"
                           required
                           name="password_duble"
                           data-identity="_ctrlReg.password"
                           data-ng-model="_ctrlReg.password_duble">
                    <div data-ng-messages="reg.password_duble.$error">
                        <div data-ng-message="identity">
                            Пароли должны совпадать
                        </div>
                    </div>
                </md-input-container>
                <div data-ng-messages="_ctrlReg.error">
                    <div class="alert alert-danger" data-ng-message="create">
                        {{_ctrlReg.errorMessage}}
                    </div>
                </div>
            </md-card-content>
            <md-card-footer layout layout-align="end">
                <md-button class="md-fab md-mini chat-icon-action"
                           aria-label="Зарегестрироваться"
                           data-ng-click="_ctrlReg.create()"
                           data-ng-disabled="reg.$invalid">
                    <ng-md-icon size="30"
                                style="fill: white"
                                icon="done">
                    </ng-md-icon>
                </md-button>
            </md-card-footer>
        </md-card>
    </form>
</div>