<div class="chat-form-container"
     flex="60"
     flex-xs="60"
     flex-gt-xs="50"
     flex-sm="50"
     flex-gt-sm="50"
     flex-md="40"
     flex-gt-md="40"
     flex-lg="40"
     flex-gt-lg="30"
     flex-xl="30">
    <form name="reg"
          class="chat-form"
          novalidate
          md-content
          data-ng-controller="registrationController">

        <md-card>
            <md-toolbar class="md-theme-indigo">
                <h2 class="md-toolbar-tools">Регистрация</h2>
                <ng-md-icon class="chat-form-header-icon"
                            size="30"
                            style="fill: white"
                            icon="login">
                </ng-md-icon>
            </md-toolbar>
            <md-card-content>
                <md-input-container class="chat-form__row">
                    <label>Логин</label>
                    <input type="text"
                           required
                           data-ng-minlength="2"
                           data-ng-model="_ctrlReg.login">
                </md-input-container>
                <md-input-container class="chat-form__row">
                    <label>Email</label>
                    <input type="text"
                           required
                           data-ng-minlength="2"
                           data-ng-model="_ctrlReg.email">
                </md-input-container>
                <md-input-container class="chat-form__row">
                    <label>Пароль</label>
                    <input type="password"
                           required
                           data-ng-model="_ctrlReg.password">
                </md-input-container>
                <md-input-container class="chat-form__row">
                    <label>Повторите пароль</label>
                    <input type="password-duble"
                           required
                           data-ng-model="_ctrlReg.password_duble">
                </md-input-container>
            </md-card-content>
            <div layout layout-align="end">
                <md-button class="md-primary md-raised"
                           data-ng-disabled="reg.$invalid">Зарегестрироваться
                </md-button>
            </div>
        </md-card>
    </form>
</div>