<form class="chat-form">
    <md-input-container class="chat-form__row">
        <input type="text"
               md-auto-focus
               data-ng-attr-placeholder="{{_ctrlUserSearch.placeholder}}"
               data-ng-change="_ctrlUserSearch.searchUsers(_ctrlUserSearch.query)"
               data-ng-model="_ctrlUserSearch.query">
    </md-input-container>

    <div layout="row"
         layout-align="left center">

        <div class="chat-user-search__list">
            <div class="md-3-line"
                 layout
                 layout-align="space-between center"
                 data-ng-repeat="user in _ctrlUserSearch.data.users">

                <div layout
                     layout-align="center center">

                    <img class="chat-user-search__photo"
                         alt="{{user.login}}"
                         data-ng-click="_ctrlUserSearch.openRoom(user)"
                         data-ng-src="{{_ctrlUserSearch.photo(user)}}"/>

                    <div class="chat-user-search__descr"
                         layout="column"
                         layout-align="center center">

                        <div>{{ user.login }}</div>
                        <div>{{ user.email }}</div>
                    </div>

                </div>

                <user-actions data-user="user"
                              data-show-user="true"
                              data-add-room="true"
                              data-room="_ctrlUserSearch.room"
                              class="chat-user-actions"></user-actions>
            </div>
        </div>
    </div>
</form>