<md-menu>
    <ng-md-icon size="30"
                icon="menu"
                class="chat-icon-action chat-icon-action--actions-user"
                data-ng-click="_ctrlRoomAction.openMenu($mdMenu, $event)">
    </ng-md-icon>
    <md-menu-content>

        <md-menu-item data-ng-if="!_ctrlRoomAction.creator"
                      data-ui-sref="main.conversation({id: _ctrlRoomAction.room.creatorId})">

            <md-button>

                <div layout
                     layout-align="left center">

                    <ng-md-icon class="chat-room-actions__icon"
                                layout
                                layout-align="center center"
                                size="30"
                                style="fill: black"
                                icon="message">
                    </ng-md-icon>

                    Открыть диалог c создателем комнаты
                </div>
            </md-button>
        </md-menu-item>

        <md-menu-divider data-ng-if="!_ctrlRoomAction.creator"></md-menu-divider>

        <md-menu-item data-ng-if="_ctrlRoomAction.canLeaveRoom()">

            <md-button
                    data-ng-click="_ctrlRoomAction.leaveRoom()">

                <div layout
                     layout-align="left center">

                    <ng-md-icon class="chat-room-actions__icon"
                                layout
                                layout-align="center center"
                                size="30"
                                style="fill: black"
                                icon="delete">
                    </ng-md-icon>

                    Покинуть комнату
                </div>
            </md-button>
        </md-menu-item>

        <md-menu-divider data-ng-if="_ctrlRoomAction.canLeaveRoom()"></md-menu-divider>

        <md-menu-item data-ng-if="_ctrlRoomAction.canOpenRoom"
                      data-ng-click="_ctrlRoomAction.openRoom()">

            <md-button>

                <div layout
                     layout-align="left center">

                    <ng-md-icon class="chat-room-actions__icon"
                                layout
                                layout-align="center center"
                                size="30"
                                style="fill: black"
                                icon="message">
                    </ng-md-icon>

                    Зайти в комнату
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider data-ng-if="_ctrlRoomAction.canOpenRoom"></md-menu-divider>

    </md-menu-content>
</md-menu>